doctype html

html(lang = "en")
  head
    meta(charset = "utf-8")
    title HTML Academy: Pink
    link(rel = "stylesheet", href = "css/style.css")

  body
    header.page-header
      h1.visually-hidden HTML Academy: Pink

      nav.menu
        ul.menu__list
          li.menu__item: a.menu__link.menu__link--current(href = "#") Главная
          li.menu__item: a.menu__link(href = "#") Фотографии
          li.menu__item: a.menu__link(href = "#") Конкурс
          li.menu__item: a.menu__link(href = "#") HTML Academy

        .menu__block
          .menu__logo: a
            img.menu__img(src = "img/logo-pink-white-mobile.svg", width = "75", height = "22", alt = "Pink")

          button.menu__toggle(type = "button") Меню

      .page-header__background

    main
      section.promo
        a.btn.promo__btn.btn--download(href = "#") Скачать приложение

        ul.promo__list
          li.promo__item.promo__item--apple Apple
          li.promo__item.promo__item--android Android
          li.promo__item.promo__item--ms Microsoft

        .promo__note Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8

      section.offer
        .offer__hgroup
          h2.offer__title Устали от серости мегаполиса?
          h2.offer__title Нам есть, что вам предложить!

      section.features
        ul.features__list
          li.features__item
            h3.features__title Поднимает настроение
            p.features__desc Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
          li.features__item
            h3.features__title Меняет мир вокруг
            p.features__desc Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
          li.features__item
            h3.features__title Заводит новых друзей
            p.features__desc Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых

      section.review
        article.review__item
          blockquote.review__block
            cite.review__name Николай Петров

            p.review__text
              | «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи!
              | А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»

        .review__slider
          .review__toggle
            span.review__dot.review__dot--active
            span.review__dot
            span.review__dot

      section.price
        h2.visually-hidden Прайс-лист

        input.price__input#price-table-1(type = "radio", name = "price-toggle")
        input.price__input#price-table-2(type = "radio", name = "price-toggle", checked)
        input.price__input#price-table-3(type = "radio", name = "price-toggle")

        .price__slider
          label.price__label(for = "price-table-1") 1
          label.price__label(for = "price-table-2") 2
          label.price__label(for = "price-table-3") 3

        .price__wrapper
          table.price__table
            tr.price__row
              th.price__toggle
              th.price__th
                .price__title База
                .price__value 1.99 USD
              th.price__th
                .price__title Стандарт
                .price__value 3.99 USD
              th.price__th
                .price__title Анлим
                .price__value 9.99 USD

            tr.price__row
              td.price__cell.price__toggle Розовый фильтр
              td.price__cell.price__cell--yes(data-content = "Розовый фильтр") Да
              td.price__cell.price__cell--yes(data-content = "Розовый фильтр") Да
              td.price__cell.price__cell--yes(data-content = "Розовый фильтр") Да

            tr.price__row
              td.price__cell.price__toggle Смайлики
              td.price__cell.price__cell--no(data-content = "Смайлики") Нет
              td.price__cell.price__cell--yes(data-content = "Смайлики") Да
              td.price__cell.price__cell--yes(data-content = "Смайлики") Да

            tr.price__row
              td.price__cell.price__toggle Комментарии
              td.price__cell.price__cell--no(data-content = "Комментарии") Нет
              td.price__cell.price__cell--no(data-content = "Комментарии") Нет
              td.price__cell.price__cell--yes(data-content = "Комментарии") Да

      section.contacts
        .contacts__hgroup
          h2.contacts__title Остались вопросы?
          h2.contacts__title Свяжитесь с нами!

        ul.contacts__list
          li.contacts__item
            h3.contacts__subtitle Звоните:
            p.contacts__text +7 (812) 555-66-66
          li.contacts__item
            h3.contacts__subtitle Пишите:
            p.contacts__text mail@htmlacademy.ru
          li.contacts__item
            h3.contacts__subtitle Приезжайте в гости:
            p.contacts__text ул. Большая Конюшенная,&nbsp;19/8

        .contacts__map

      script(src = "js/menu.js")
