doctype html

html(lang = "en")
  head
    meta(charset = "utf-8")
    title HTML Academy: Pink
    link(rel = "stylesheet", href = "css/style.css")

  body
    header.page-header
      nav.menu
        .menu__logo: a
          img.menu__img(src = "http://placehold.it/75x22", width = "75", height = "22", alt = "Pink")

        button.menu__toggle(type = "button") Меню

        ul.menu__list
          li.menu__item Главная
          li.menu__item Фотографии
          li.menu__item Конкурс
          li.menu__item HTML Academy
