.borders-and-background() {
  border-top: 1px solid @river-bed;
  border-bottom: 1px solid @mirage;
  background-color: @ebony-clay;
}

.menu {
  &__block {
    position: absolute;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 20px 22px;
    width: 100%;
    transition: all 0.4s ease-out;

    justify-content: space-between;
    align-items: center;
    .borders-and-background();
  }

  &--js &__block {
    border-color: fade(@mirage, 70%);
    background-color: fade(@mirage, 70%);
    transition: all 0.4s ease-out;
  }

  &__logo {
    height: 22px;
  }

  &__img {
    width: 75px;
    height: 22px;
  }

  &__toggle {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background: url("../img/icon-menu-cross.svg");
    font-size: 0;
    cursor: pointer;
  }

  &--js &__toggle {
    width: 50px;
    background: url("../img/icon-menu-burger.svg");
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    list-style-type: none;
    transition: all 0.4s ease-out;
  }

  &--js &__list {
    margin-top: -260px;
    transition: all 0.4s ease-out;
  }

  &__item {
    text-align: center;

    .borders-and-background();
    .font(18px, 20px, 700, uppercase);
  }

  &__link {
    display: block;
    padding: 22px 0;
    color: @white;
    text-decoration: none;
  }
}
