.borders-and-background {
  border-top: 1px solid @river-bed;
  border-bottom: 1px solid @mirage;
  background-color: @ebony-clay;
}

.menu {
  &__block {
    position: absolute;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 20px 22px;
    width: 100%;

    justify-content: space-between;
    align-items: center;
    .borders-and-background;
  }

  &__logo {
    height: 22px;
  }

  &__img {
    width: 75px;
    height: 22px;
  }

  &__toggle {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background: url("../img/icon-menu-cross.svg");
    font-size: 0;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__item {
    text-align: center;

    .borders-and-background;
    .font(18px, 32px, 700, uppercase);
  }

  &__link {
    padding: 22px 0;
    display: block;
    color: @white;
    text-decoration: none;
  }
}
