.offer {
  &__title {
    color: @mirage;

    .font(24px, 29px, 300);
  }

  &__hgroup {
    margin: auto;
    margin-top: 40px;
    width: 250px;
    text-align: center;
  }

  &__title {
    margin-bottom: 40px;
  }
}
