.borders() {
  border: 2px solid @mercury;
}

.price {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: @concrete;

  &::before {
    display: block;
    border-top: 32px solid @white;
    border-right: 100vw solid transparent;
    content: "";

    @media @tablet-desktop {
      border-top: 75px solid @white;
    }
  }

  &__input {
    display: none;
  }

  &__slider {
    margin-bottom: 50px;
    text-align: center;

    order: 1;

    @media @tablet-desktop {
      display: none;
    }
  }

  &__label {
    display: inline-block;
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border: 3px solid @concrete;
    border-radius: 50%;
    background-color: @silver-sand;
    font-size: 0;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__input#price-table-1:checked ~ &__slider &__label[for = "price-table-1"],
  &__input#price-table-2:checked ~ &__slider &__label[for = "price-table-2"],
  &__input#price-table-3:checked ~ &__slider &__label[for = "price-table-3"] {
    border-color: @ebony-clay;
    background-color: @white;
  }

  &__wrapper {
    padding-top: 65px;
    margin-bottom: 35px;
    width: 100%;

    @media @tablet-desktop {
      margin-bottom: 70px;
      padding: 0 40px;
      width: auto;
    }

    @media @desktop {
      margin: auto;
      padding-top: 65px;
      margin-bottom: 70px;
      width: 940px;
    }
  }

  &__table {
    margin-left: 20px;
    width: ~"calc(300% - 124px)";
    border-collapse: collapse;

    @media @tablet-desktop {
      margin: 0;
      width: 100%;
    }
  }

  &__input#price-table-1:checked ~ &__wrapper &__table {
    transition: all 0.4s ease-out;
    transform: none;
  }

  &__input#price-table-2:checked ~ &__wrapper &__table {
    transition: all 0.4s ease-out;
    transform: translate(-33.3%);
  }

  &__input#price-table-3:checked ~ &__wrapper &__table {
    transition: all 0.4s ease-out;
    transform: translate(-66.6%);
  }

  &__input#price-table-1:checked ~ &__wrapper &__table,
  &__input#price-table-2:checked ~ &__wrapper &__table,
  &__input#price-table-3:checked ~ &__wrapper &__table {
    @media @tablet-desktop {
      transform: none;
    }
  }

  &__th {
    height: 100px;
    background-color: @ebony-clay;
    color: @white;

    .borders();
  }

  &__cell {
    padding-left: 25px;
    height: 60px;
    background-color: @white;
    background-position: right 25px center;
    background-repeat: no-repeat;
    text-align: left;
    font-size: 0;

    .borders();

    @media @tablet-desktop {
      width: 25%;
      background-position: center;
    }

    &::before {
      content: attr(data-content);

      .font(14px, 30px, 400, uppercase);

      @media @tablet-desktop {
        font-size: 0;
      }
    }

    &--yes {
      background-image: url("../img/icon-yes.svg");
    }

    &--no {
      background-image: url("../img/icon-no.svg");
    }
  }

  &__toggle {
    display: none;

    @media @tablet-desktop {
      display: table-cell;
      vertical-align: middle;

      .font(14px, 60px, 400);
    }

    @media @desktop {
      .font(18px, 60px, 400);
    }
  }

  &__title {
    .font(18px, 30px, 700, uppercase);
  }

  &__value {
    .font(24px, 30px, 300, uppercase);
  }
}
