.promo {
  display: flex;
  flex-direction: column;
  // padding: 30px 0;
  height: 210px;
  background-color: @mirage;

  justify-content: space-between;
  align-items: center;

  @media @tablet {
    margin-right: 300px;
    margin-bottom: 120px;
    height: 400px;
    background-color: transparent;
  }

  @media @desktop {
    margin-right: 600px;
    margin-bottom: 120px;
    height: 500px;
    background-color: transparent;
  }

  &__text {
    display: none;

    @media @tablet {
      display: block;
      width: 200px;
      color: @white;
      text-align: center;

      .font(40px, 48px, 300);
    }

    @media @desktop {
      display: block;
      width: 300px;
      color: @white;
      text-align: center;

      .font(50px, 60px, 300);
    }
  }

  &__list {
    list-style-type: none;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    vertical-align: bottom;

    &--apple {
      margin-right: 38px;
      width: 46px;
      height: 57px;
      background-image: url("../img/logo-apple.svg");
    }

    &--android {
      margin-right: 38px;
      width: 42px;
      height: 46px;
      background-image: url("../img/logo-android.svg");
    }

    &--ms {
      width: 44px;
      height: 41px;
      background-image: url("../img/logo-microsoft.svg");
    }
  }

  &__note {
    width: 230px;
    color: @white;
    text-align: center;
    opacity: 0.9;

    .font(14px, 24px, 300);

    @media @tablet-desktop {
      width: 350px;

      .font(18px, 24px, 300);
    }
  }
}
