.research {
  background-color: @concrete;

  .research__wrapper {
    display: none;

    @media @tablet {
      display: flex;
      flex-direction: row;
      padding: 40px;
    }

    @media @desktop {
      display: flex;
      flex-direction: row;
      margin: auto;
      padding: 80px 0;
      width: 1115px;
    }
  }

  &__image {
    height: 276px;
    background: url("../img/icon-timer.svg") no-repeat;
    background-position: right 16px center;
    background-size: 238px 276px;

    flex-basis: 50%;

    @media @desktop {
      height: 345px;
      background-position: right center;
      background-size: 298px 345px;

      flex-basis: 35%;
    }
  }

  &__block {
    padding: 0 40px;

    align-self: center;
    flex-basis: 50%;

    @media @desktop {
      flex-basis: 65%;
    }
  }

  &__title {
    @media @tablet-desktop {
      margin-bottom: 20px;

      .font(30px, 36px, 700);
    }
  }

  &__text {
    @media @tablet-desktop {
      margin-bottom: 20px;

      .font(14px, 24px, 400);
    }

    @media @desktop {
      .font(18px, 30px, 400);
    }
  }

  &__link {
    @media @tablet-desktop {
      color: @cerise-red;

      .font(14px, 24px, 400);
    }

    @media @desktop {
      .font(18px, 30px, 400);
    }
  }
}
